.todo_app{
	color:red;
	margin: auto;
  	width: 20%;
  	padding: 10px;
  	text-align: center;
  	font-size:30px;
  	font-style:italic;
}

.enter_text{
  	width: 30%;
  	border: 3px solid ;
  	padding: 10px;
  	text-align:center;
  	font-size:15px;
  	font-style:italic;
  	text-align: center;
  	margin:20px;
  	margin-left:450px;
}
